@import "../theme/colors.scss";

.ToggleSwitch {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  height: 20px;
  width: 40px;
}

.ToggleSwitch__knob {
  background-color: var(--white);
  border-radius: 50%;
  height: 12px;
  width: 12px;
  transition: all 0.25s ease-in-out;
}

.ToggleSwitch--off {
  background-color: var(--gray-dd);

  .ToggleSwitch__knob {
    transform: translateX(4px);
  }
}

.ToggleSwitch--on {
  background-color: var(--green);

  .ToggleSwitch__knob {
    transform: translateX(24px);
  }
}
