$blue: #61dafb;
$gray-28: #282c34;
$white: white;

.App {
  text-align: center;

  &__logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }

  &__header {
    background-color: $gray-28;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: $white;
  }

  &__link {
    color: $blue;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
